@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Lora", serif;
  color: #333333;
}

p,
li {
  font-size: 0.9rem;
  font-weight: 500;
}

header {
  text-align: center;
}

header img {
  width: 150px;
}

header > div {
  padding: 20px;
}

header p {
  background-color: #fdfbf1;
  margin: 0;
  padding: 15px 0;
  border-top: 0.1em solid #ffd877;
  color: #004d4c;
}

header p span {
  text-transform: uppercase;
  font-weight: 600;
}

a {
  color: #107777;
  font-weight: 600;
}

main {
  width: 700px;
  margin-inline: auto;
  padding-bottom: 50px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 900;
}

main img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 3px 3px 3px lightgray;
}

.image-caption {
  text-align: center;
  color: #999999;
}

main div {
  border-left: 1px solid #ffd877;
  padding-left: 20px;
}

main div p {
  margin-top: 0px;
}

h4 {
  color: #b5460f;
  font-weight: 600;
  margin-bottom: 0px;
}

main section:first-child {
  margin-bottom: 50px;
}

h3 {
  border-bottom: 1px solid #c4f3f2;
  padding-bottom: 20px;
  font-size: 1.6em;
  font-weight: 700;
  font-style: normal;
}

h5 {
  font-size: 1rem;
  margin: 30px 0 20px 0;
}

section {
  margin-top: 50px;
}

li {
  margin-bottom: 1em;
}

video {
  display: block;
  margin-inline: auto;
}
