@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  margin: 0;
}

p {
  font-family: "Lora", serif;
  font-size: 0.9em;
}

header {
  text-align: center;
}

header img {
  width: 200px;
}

header > div {
  padding: 20px;
}

header p {
  background-color: lightgoldenrodyellow;
  margin: 0;
  padding: 15px;
  border-top: 0.1em solid yellow;
}

header p span {
  text-transform: uppercase;
  font-weight: 600;
}

main {
  width: 700px;
  margin-inline: auto;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 900;
}

main img {
  border-radius: 20px;
  width: 100%;
}

.image-caption {
  text-align: center;
  color: lightslategray;
}

main div {
  border-left: 0.1em solid yellow;
  padding-left: 20px;
}

main div p {
  margin-top: 0px;
}

h4 {
  color: orangered;
  font-weight: 600;
  margin-bottom: 0px;
}

main section:first-child {
  margin-bottom: 50px;
}

h3 {
  border-bottom: 0.1em solid lightblue;
  padding-bottom: 20px;
  font-size: 1.4em;
  font-weight: 700;
}

h5 {
  font-size: 1em;
  margin: 30px 0 20px 0;
}

section {
  margin-top: 50px;
}
